body {
  background-color: #4cd3c2;
}

.container {
  background-color: #a3d2ca;
  position: absolute;
  border: 1px solid #a4b494;
  border-radius: 15px;
  margin: 12% auto auto 28%;
}

h1 {

  margin: 15px auto auto 5px;
  font-family: 'Press Start 2P', cursive;
  color: black;

}

.songRed {
  background-color: red;
  width: 65px;
  height: 35px;
  margin-left: 10px;
  position: absolute;
  margin: 25px auto auto 34%;
  border-radius: 15px;
  border: 6px solid black;
}

.songGreen {
  background-color: green;
  width: 65px;
  height: 35px;
  position: absolute;
  margin: 25px auto auto 51%;
  border-radius: 15px;
  border: 6px solid black;
}

.songPause {
  background-color: red;
  position: absolute;
  margin: 90px auto auto 44%;
  border-radius: 10px;
  border: 2px solid yellow;
  width: 50px;
  height: 30px;
}

.songBlue {
  background-color: blue;
  width: 65px;
  height: 35px;
  position: absolute;
  margin: 150px auto auto 34%;
  border-radius: 15px;
  border: 6px solid black;
}

.songYellow {
  background-color: yellow;
  width: 65px;
  height: 35px;
  position: absolute;
  margin: 150px auto auto 51%;
  border-radius: 15px;
  border: 6px solid black;
}

.onlineSong {
  background-color: purple;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  position: relative;
  margin: 180px auto 10px 70%;
  border: 2px solid pink;
}

.text-color {
  color: grey;
}
